.content-title {
  font-size: 1.2rem;
}

.content-author {
  font-size: 0.8rem;
  margin-top: 0.3rem;
  color: #99a1af;
}

.content {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Headings */
.content h1 {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

.content h2 {
  font-size: 1.1rem;
  margin-bottom: 1.2rem;
}

.content h3 {
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

.content h4 {
  font-size: 0.9rem;
  margin-bottom: 1.2rem;
}

.content h5 {
  font-size: 0.8rem;
  margin-bottom: 1.2rem;
}

.content h6 {
  font-size: 0.7rem;
  margin-bottom: 1.2rem;
}

/* Paragraphs */
.content p {
  font-size: 16px;
  margin-bottom: 2.2rem;
}

/* Lists */
.content ul,
.content ol {
  margin-bottom: 2.2rem;
}

.content ul li,
.content ol li {
  font-size: 16px;
  margin-bottom: 0.6rem;
}

/* Blockquotes */
.content blockquote {
  border-left: 4px solid #515353;
  padding-left: 1rem;
  margin-bottom: 2.2rem;
}

/* Code Blocks */
.content pre {
  background: #bee402;
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
  margin-bottom: 2.2rem;
}

.content code {
  padding: 2px 5px;
  border-radius: 4px;
  font-family: "Courier New", monospace;
}

/* Links */
.content a {
  color: #a3d8fc;
  text-decoration: none;
  font-weight: bold;
}

.content a:hover {
  text-decoration: underline;
}

.content hr {
  border: 1px solid #012944;
  margin-bottom: 2rem;
}

/* Tables */
.content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.content th,
.content td {
  border: 1px solid #012944;
  padding: 8px;
  text-align: left;
}

.content th {
  background: #012944;
  font-weight: bold;
}

/* Images */
.content img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}