@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-border-bottom {
  position: relative;
  padding-bottom: 4px;
}
.gradient-border-bottom::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #7c3aed, #ffffff, #8b5cf6);
  z-index: 1;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.no-scroll {
  overflow: hidden;
}

input {
  color-scheme: dark;
}

select option {
  background-color: #373737;
  color: #e5e7eb;
}

option:hover {
  background-color: #9500ff;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply text-white font-bold;
}

.prose h1 {
  @apply text-3xl mt-4 mb-2;
}

.prose h2 {
  @apply text-2xl mt-4 mb-2;
}

.prose h3 {
  @apply text-xl mt-4 mb-2;
}

.prose p {
  @apply mb-4;
  @apply text-gray-200;
}

.prose ul,
.prose ol {
  @apply list-disc pl-6 mb-4;
}

.prose li {
  @apply text-gray-200;
}

.prose blockquote {
  @apply border-l-4 border-gray-600 pl-4 italic mb-4 text-gray-200;
}

.prose table {
  @apply min-w-full bg-gray-900 text-gray-100;
}

.prose th,
.prose td {
  @apply border border-gray-200 px-4 py-2;
}

.prose th {
  @apply bg-gray-200;
}

.prose img {
  @apply max-w-full h-auto rounded mb-4;
}

.prose video {
  @apply min-w-full h-auto rounded mb-4;
}

.prose iframe {
  @apply min-w-full h-auto rounded mb-4 md:h-96 mt-4;
}

.prose hr {
  @apply border-gray-600 my-8;
}

.prose a {
  @apply text-violet-500 hover:underline;
}

.prose sup {
  @apply text-blue-300;
}

.prose del {
  @apply line-through;
}

.prose strong {
  @apply font-bold;
  @apply text-white;
}

.prose .youtube,
.prose .twitter-tweet,
.prose .github-repo {
  @apply min-w-full mb-4;
}

.cta_button {
  --border-radius: 15px;
  --border-width: 4px;
  appearance: none;
  position: relative;
  padding: 1em 2em;
  border: 0;
  background-color: #030712;
  border-radius: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  z-index: 2;
}

.cta_button::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  border-radius: var(--border-radius);
  background-image: conic-gradient(
    #488cfb,
    #29dbbc,
    #ddf505,
    #ff9f0e,
    #e440bb,
    #655adc,
    #488cfb
  );
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 500ms infinite;
  animation-play-state: paused;
}

.cta_button:hover::after {
  animation-play-state: running;
}

@keyframes rotate-hue {
  to {
    filter: hue-rotate(1turn);
  }
}

.cta_button,
.cta_button::after {
  box-sizing: border-box;
}

.cta_button:active {
  --border-width: 5px;
}

/* From Uiverse.io by mi-series */
.home_cta_btn {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #ff6a00;
  min-width: 200px;
  border: 0;
  border-radius: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 1.2px;
  overflow: hidden;
  cursor: pointer;
  font-family: montserrat, sans-serif;
}

.home_cta_btn:hover {
  opacity: 0.95;
}

.home_cta_btn .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow:
      0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1),
      0 0 0 40px rgba(255, 255, 255, 0.1),
      0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow:
      0 0 0 20px rgba(255, 255, 255, 0.1),
      0 0 0 40px rgba(255, 255, 255, 0.1),
      0 0 0 60px rgba(255, 255, 255, 0.1),
      0 0 0 80px rgba(255, 255, 255, 0);
  }
}

.booking_btn {
  --purple: #7c3aed;
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 2s;
  line-height: 1.4em;
  border: 2px solid var(--purple);
  background: linear-gradient(
    to right,
    rgba(124, 58, 237, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(124, 58, 237, 0.1) 100%
  );
  color: var(--purple);
  width: 100%;
  box-shadow:
    inset 0 0 10px rgba(124, 58, 237, 0.4),
    0 0 9px 3px rgba(124, 58, 237, 0.1);
}

.booking_btn:hover {
  color: #b794f4;
  box-shadow:
    inset 0 0 10px rgba(124, 58, 237, 0.6),
    0 0 9px 3px rgba(124, 58, 237, 0.2);
}

.booking_btn:before {
  content: "";
  position: absolute;
  left: -150%;
  width: 300%;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(124, 58, 237, 0.1) 40%,
    rgba(124, 58, 237, 0.1) 60%,
    transparent 100%
  );
}

.booking_btn:hover:before {
  transform: translateX(150%);
}
