<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/baseof.css" />
    <link rel="stylesheet" href="/css/content.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Favicon Partial -->
    {{ partial "favicon.html" . }}

    <title>
      {{ if .IsHome }} {{ .Site.Params.title }} {{ else }} {{ .Title }} - {{
      .Site.Params.title }} {{ end }}
    </title>

    <meta
      name="description"
      content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.description }}{{ end }}"
    />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="google" content="notranslate" />
    <meta name="theme-color" content="#000000" />
    <meta name="author" content="Rajarshi Samaddar" />
    <meta
      name="keywords"
      content="Rajarshi Samaddar, Techrahis, Techrahis.com, Techrahis.in, Techrahis.org, Techrahis.net, Techrahis.info, Techrahis.biz, Techrahis.us, Techrahis.ca, Techrahis.au, Techrahis.eu"
    />
  </head>
  <body>
    <main>{{ block "main" . }}{{ end }}</main>
    <footer>
      <a href="http://wa.me/+916295611536" target="_blank">@wapp</a>
      <a href="https://github.com/techrahis" target="_blank">github</a>
      <a href="https://linkedin.com/in/techrahis" target="_blank">linkedin</a>
      <a href="https://x.com/techrahis" target="_blank">x</a>
      <a href="mailto:techrahis@outlook.com">email</a>
    </footer>
  </body>
</html>
