{% extends "_base.html" %}
{% load static %}
{% block title %}404{% endblock %}
{% block content %}
    <div class="text-white mt-16 sm:mt-14">
        <h1 class="font-montserrat text-2xl font-bold mb-4 text-rose-600">Woops! ~ Page not found</h1>
        <p class="mb-4">
            Unfortunately, the page you're looking for doesn't exist or has been moved. Please double check the URL for typos. Otherwise,
        </p>
        <a>
            <button class="bg-violet-500 hover:bg-purple-600 text-gray-950 font-bold py-1 px-2 sm:py-2 sm:px-4 rounded font-montserrat">
                Go back to home
            </button>
        </a>
        <div class="flex justify-center items-center mt-4">
            <img class="max-w-[25rem] p-10 object-cover mb-4"
                 src="{% static 'image/404.gif' %}"
                 alt="404 image" />
        </div>
        <button></button>
    </div>
{% endblock %}
