{% extends "_base.html" %}
{% block title %}Get Free 1:1 Consultation{% endblock %}
{% block meta_description %}
    Build Your Online Presence with Expert Web Development — Get a Free 1:1 Consultation Today!
{% endblock %}
{% block content %}
    <div class="text-white mt-4 md:mt-16">
        <h1 class="font-montserrat text-2xl font-bold mb-6">
            Build Your Online Presence with Expert Web Development — Get a Free 1:1 Consultation Today!
        </h1>
        <p class="mb-10 font-opensans">
            Get personalized advice on how to enhance your website, attract more customers, and grow your business online. This free session will provide you with tailored recommendations specific to your business goals.
        </p>
        <h3 class="font-inter text-xl font-bold mb-4 flex justify-start items-center gap-2">
            List the specific benefits your web development service offers, such as:
        </h3>
        <ul class="mb-10">
            <li class="mb-2 flex items-center gap-4">
                <i class="fa-solid fa-circle-check text-green-500 text-lg"></i>Custom website design and development for local businesses
            </li>
            <li class="mb-2 flex items-center gap-4">
                <i class="fa-solid fa-circle-check text-green-500"></i>Mobile-responsive design
            </li>
            <li class="mb-2 flex items-center gap-4">
                <i class="fa-solid fa-circle-check text-green-500"></i>SEO optimization
            </li>
            <li class="mb-2 flex items-center gap-4">
                <i class="fa-solid fa-circle-check text-green-500"></i>E-commerce solutions
            </li>
            <li class="mb-2 flex items-center gap-4">
                <i class="fa-solid fa-circle-check text-green-500"></i>Ongoing maintenance and support
            </li>
            <li class="mb-2 flex items-center gap-4">
                <i class="fa-solid fa-circle-check text-green-500"></i>Affordable pricing starting at $399
            </li>
        </ul>
        <h3 class="font-inter text-xl font-bold mb-4 flex justify-start items-center gap-2">
            Are you missing out on online bookings? We specialize in building modern websites that convert visitors into customers.
        </h3>
    </div>
{% endblock %}
