{% extends "_base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block meta_description %}
  Elevating luxury restaurants with bespoke, visually stunning websites. From custom web designs to digital marketing, we help fine dining establishments enhance their online presence and attract discerning diners.
{% endblock %}
{% block content %}
  <div class="text-white">
    <!-- Hero Section -->
    <section class="mt-10 rounded-xl bg-cover bg-center h-[84vh] flex items-center justify-center text-center p-4"
             style="background-image: url({% static 'image/home-cover.jpg' %})">
      <div class="bg-opacity-70 bg-black p-8 rounded-lg">
        <h1 class="text-4xl md:text-6xl font-bold mb-4">Elevating Luxury Restaurants with Bespoke Websites 🍽️</h1>
        <p class="text-lg md:text-xl text-gray-300 mb-6">
          Your restaurant deserves a website as refined as your dining experience. Let us craft an online presence that embodies the elegance and exclusivity of your brand.
        </p>
        <a href="{% url 'get_free_consultation' %}">
          <button class="home_cta_btn">
            <i class="animation"></i>Get a Free Consultation<i class="animation"></i>
          </button>
        </a>
      </div>
    </section>
    <!-- Services Section -->
    <section class="mt-10 rounded-xl py-16 text-center">
      <h2 class="text-3xl md:text-4xl font-bold mb-6">⚙️ Our Services</h2>
      <p class="text-gray-300 text-lg max-w-3xl px-4 mx-auto mb-10">
        We provide comprehensive services, from custom web development to digital marketing, tailored specifically for luxury restaurants to elevate their brand and attract affluent clientele.
      </p>
      <div class="flex flex-wrap justify-center gap-6 mb-14">
        <div class="bg-slate-900 p-6 rounded-lg w-80">
          <h3 class="text-2xl font-bold mb-4">💻 Custom Web Development</h3>
          <p class="text-gray-400 mb-4">
            Custom websites designed to highlight the exclusivity and excellence of your dining experience.
          </p>
        </div>
        <div class="bg-slate-900 p-6 rounded-lg w-80">
          <h3 class="text-2xl font-bold mb-4">🎨 Web Design & Branding</h3>
          <p class="text-gray-400 mb-4">
            Visually captivating designs that ensure your restaurant stands out as a symbol of luxury.
          </p>
        </div>
        <div class="bg-slate-900 p-6 rounded-lg w-80">
          <h3 class="text-2xl font-bold mb-4">📈 Digital Marketing</h3>
          <p class="text-gray-400 mb-4">
            Tailored marketing strategies that position your restaurant as the go-to destination for gourmet dining.
          </p>
        </div>
        <div class="bg-slate-900 p-6 rounded-lg w-80">
          <h3 class="text-2xl font-bold mb-4">🔍 SEO for Restaurants</h3>
          <p class="text-gray-400 mb-4">
            Boost your visibility in search results, helping discerning diners discover your restaurant when seeking high-end culinary experiences.
          </p>
        </div>
        <div class="bg-slate-900 p-6 rounded-lg w-80">
          <h3 class="text-2xl font-bold mb-4">📱 Social Media Optimization (SMO)</h3>
          <p class="text-gray-400 mb-4">
            Engage your audience on platforms like Instagram and Facebook, turning followers into loyal patrons.
          </p>
        </div>
        <div class="bg-slate-900 p-6 rounded-lg w-80">
          <h3 class="text-2xl font-bold mb-4">📝 Content Writing</h3>
          <p class="text-gray-400 mb-4">
            Compelling and SEO-friendly content to communicate your message and captivate your audience.
          </p>
        </div>
        <div class="bg-slate-900 p-6 rounded-lg w-80">
          <h3 class="text-2xl font-bold mb-4">🎨 Graphic Design</h3>
          <p class="text-gray-400 mb-4">
            High-quality visuals that convey your brand's message and create a lasting impression.
          </p>
        </div>
        <div class="bg-slate-900 p-6 rounded-lg w-80">
          <h3 class="text-2xl font-bold mb-4">🖼️ Logo Design</h3>
          <p class="text-gray-400 mb-4">Memorable and impactful logos that reflect your brand's identity.</p>
        </div>
      </div>
      <a href="{% url 'services' %}"
         class="bg-orange-500 hover:bg-orange-600 px-4 py-4 rounded-xl font-bold font-montserrat text-lg">
        Discover All Our Services 🍽️
      </a>
    </section>
    <!-- Portfolio Section -->
    <section class="mt-10 rounded-xl py-16 text-center">
      <h2 class="text-3xl md:text-4xl font-bold mb-6">💼 Featured Portfolios</h2>
      <p class="text-gray-300 text-lg max-w-3xl px-4 mx-auto mb-10">
        Discover how we've crafted bespoke online experiences for leading fine dining establishments.
      </p>
      <div class="grid grid-cols-1 md:grid-cols-3 px-6 gap-6 mb-14">
        {% for portfolio in portfolios %}
          <div class="bg-slate-900 p-4 rounded-lg hover:shadow-lg">
            <a href="{% url 'portfolio_detail' portfolio.slug %}">
              <img src="{{ portfolio.thumbnail.url }}"
                   alt="{{ portfolio.title }}"
                   class="w-full h-48 object-cover mb-4 rounded-md">
              <h3 class="text-2xl font-bold mb-2">{{ portfolio.title }}</h3>
              <p class="text-gray-400 mb-4">{{ portfolio.short_description|truncatechars:120 }}</p>
            </a>
          </div>
        {% endfor %}
      </div>
      <a href="{% url 'portfolios' %}"
         class="bg-rose-500 hover:bg-rose-600 px-4 py-4 rounded-xl font-bold font-montserrat text-lg">View All Portfolios 🚀</a>
    </section>
    <!-- Testimonials Section -->
    <section class="mt-10 rounded-t-xl py-16 border-t-2 border-r-2 border-l-2 border-purple-600 text-center">
      <h2 class="text-3xl md:text-4xl font-bold mb-6">📢 Client Testimonials</h2>
      <p class="text-gray-300 text-lg max-w-3xl mx-auto mb-10">
        Discover how our clients in the luxury restaurant industry have transformed their online presence with our bespoke services.
      </p>
      <div class="flex flex-wrap justify-center gap-6">
        <div class="bg-slate-900 p-6 rounded-lg w-80">
          <p class="text-gray-400 mb-4">
            Rajarshi captured the essence of our fine dining restaurant. The website truly reflects the sophistication of our brand!
          </p>
          <p class="text-purple-600 font-bold">— Michelle P., Luxury Restaurant Owner</p>
        </div>
        <div class="bg-slate-900 p-6 rounded-lg w-80">
          <p class="text-gray-400 mb-4">
            Since launching our new site, reservations have increased dramatically. We couldn't be happier!
          </p>
          <p class="text-purple-600 font-bold">— David R., Executive Chef</p>
        </div>
        <div class="bg-slate-900 p-6 rounded-lg w-80">
          <p class="text-gray-400 mb-4">
            Rajarshi understood our vision perfectly and delivered a website that aligns with our luxury dining experience.
          </p>
          <p class="text-purple-600 font-bold">— Alex S., Fine Dining Restaurant Manager</p>
        </div>
      </div>
    </section>
    <!-- CTA Section -->
    <section class="py-16 bg-purple-600 text-center text-white">
      <h2 class="text-3xl md:text-4xl font-bold mb-6">Ready to Enhance Your Restaurant’s Digital Appeal? 🍽️</h2>
      <p class="text-lg md:text-xl mb-6">
        Get in touch today for a free consultation and see how a stunning website can take your restaurant to new heights.
      </p>
      <a href="{% url 'get_free_consultation' %}">
        <button class="home_cta_btn">
          <i class="animation"></i>Get a Free Consultation<i class="animation"></i>
        </button>
      </a>
    </section>
  </div>
{% endblock %}
