{% extends "_base.html" %}
{% block title %}Others{% endblock %}
{% block content %}
    <div class="text-white mt-16 sm:mt-14 md:w-2/3">
        <h1 class="font-montserrat text-2xl font-bold mb-6">Other Important Pages</h1>
        <ol class="space-y-2">
            <li>
                <a href="{% url 'privacy_policy' %}"
                   class="text-violet-600 hover:text-purple-600"><span class="text-white">1.</span> Privacy policy</a>
            </li>
            <li>
                <a href="{% url 'terms_of_service' %}"
                   class="text-violet-600 hover:text-purple-600"><span class="text-white">2.</span> Terms of Service</a>
            </li>
            <li>
                <a href="{% url 'colophon' %}"
                   class="text-violet-600 hover:text-purple-600"><span class="text-white">3.</span> Colophon</a>
            </li>
        </ol>
    </div>
{% endblock %}
