{% extends "_base.html" %}
{% block title %}Others{% endblock %}
{% block content %}
    <div class="text-white mt-16 sm:mt-14 md:w-2/3">
        <h1 class="font-montserrat text-2xl font-bold mb-4">Others 🚧</h1>
        <ol class="space-y-1">
            <li>
                <a href="https://github.com/"
                   target="_blank"
                   class="text-violet-600 hover:text-purple-600"><span class="text-white">1.</span> Privacy policy</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/"
                   target="_blank"
                   class="text-violet-600 hover:text-purple-600"><span class="text-white">2.</span> Terms and conditions</a>
            </li>
            <li>
                <a href="https://www.instagram.com/"
                   target="_blank"
                   class="text-violet-600 hover:text-purple-600"><span class="text-white">3.</span> Notes</a>
            </li>
            <li>
                <a href="https://www.instagram.com/"
                   target="_blank"
                   class="text-violet-600 hover:text-purple-600"><span class="text-white">4.</span> Snippets</a>
            </li>
        </ol>
    </div>
{% endblock %}
