{% extends "_base.html" %}
{% load static %}
{% block title %}Services{% endblock %}
{% block meta_description %}
    Hey there! I'm Rajarshi Samaddar, a full-stack software engineer from India with over 8 months of professional experience. My pronouns are he/they.
{% endblock %}
{% block content %}
    <div class="text-white mt-4 md:mt-16">
        <h1 class="font-montserrat text-3xl font-bold mb-4 text-amber-400">⚙️ Services</h1>
        <p class="mb-10 font-opensans">
            I offer a range of services to help businesses grow online, from building high-quality websites to enhancing your online visibility. Explore my services below to see how I can help.
        </p>
    </div>
    <div class="space-y-12">
        <!-- Web Development Section -->
        <div class="bg-slate-900 p-6 rounded-md">
            <h2 class="font-montserrat text-2xl font-bold text-pink-500 mb-4">
                <i class="fas fa-code"></i> Web Development
            </h2>
            <p class="text-gray-200 mb-4">
                My web development services ensure that your site is fast, secure, and easy to manage. I build custom websites that meet your business needs, whether you're looking for an e-commerce platform, a portfolio site, or a content management system.
            </p>
            <ul class="text-gray-300 list-inside mb-4">
                <li>
                    <i class="fa-solid fa-circle-check text-green-500"></i> Custom Website Development
                </li>
                <li>
                    <i class="fa-solid fa-circle-check text-green-500"></i> Content Management Systems (CMS)
                </li>
                <li>
                    <i class="fa-solid fa-circle-check text-green-500"></i> E-commerce Solutions
                </li>
                <li>
                    <i class="fa-solid fa-circle-check text-green-500"></i> API Integration
                </li>
            </ul>
            <a href="{% url 'get_free_consultation' %}"
               class="text-pink-500 font-inter hover:underline">📢 Book a free Web Development consultation with me &rarr;</a>
        </div>
        <!-- Web Design Section -->
        <div class="bg-slate-900 p-6 rounded-md">
            <h2 class="font-montserrat text-2xl font-bold text-purple-500 mb-4">
                <i class="fas fa-paint-brush"></i> Web Design
            </h2>
            <p class="text-gray-200 mb-4">
                Great design is key to making a lasting impression. I create visually stunning and user-friendly designs that represent your brand. From layouts to typography, I ensure every detail aligns with your goals.
            </p>
            <ul class="text-gray-300 list-inside mb-4">
                <li>
                    <i class="fa-solid fa-circle-check text-green-500"></i> Custom Website Designs
                </li>
                <li>
                    <i class="fa-solid fa-circle-check text-green-500"></i> Responsive Design
                </li>
                <li>
                    <i class="fa-solid fa-circle-check text-green-500"></i> User Interface (UI) & User Experience (UX)
                </li>
                <li>
                    <i class="fa-solid fa-circle-check text-green-500"></i> Prototyping & Wireframing
                </li>
            </ul>
            <a href="{% url 'get_free_consultation' %}"
               class="text-purple-500 font-inter hover:underline">📢 Book a free Web Design consultation with me &rarr;</a>
        </div>
        <!-- Digital Marketing Section -->
        <div class="bg-slate-900 p-6 rounded-md">
            <h2 class="font-montserrat text-2xl font-bold text-teal-500 mb-4">
                <i class="fas fa-bullhorn"></i> Digital Marketing
            </h2>
            <p class="text-gray-200 mb-4">
                Expand your reach and grow your brand with my digital marketing services. I offer strategies tailored to your business to drive traffic, engage customers, and convert leads through online marketing channels.
            </p>
            <ul class="text-gray-300 list-inside mb-4">
                <li>
                    <i class="fa-solid fa-circle-check text-green-500"></i> Social Media Marketing
                </li>
                <li>
                    <i class="fa-solid fa-circle-check text-green-500"></i> Pay-Per-Click (PPC) Campaigns
                </li>
                <li>
                    <i class="fa-solid fa-circle-check text-green-500"></i> Email Marketing
                </li>
                <li>
                    <i class="fa-solid fa-circle-check text-green-500"></i> Content Marketing
                </li>
            </ul>
            <a href="{% url 'get_free_consultation' %}"
               class="text-teal-500 hover:underline font-inter">📢 Book a free Digital Marketing consultation with me &rarr;</a>
        </div>
        <!-- SEO Section -->
        <div class="bg-slate-900 p-6 rounded-md">
            <h2 class="font-montserrat text-2xl font-bold text-green-500 mb-4">
                <i class="fas fa-chart-line"></i> Search Engine Optimization (SEO)
            </h2>
            <p class="text-gray-200 mb-4">
                Increase your visibility and drive organic traffic to your website with my SEO services. I specialize in on-page and off-page SEO to ensure your site ranks higher on search engines and attracts more visitors.
            </p>
            <ul class="text-gray-300 list-inside mb-4">
                <li>
                    <i class="fa-solid fa-circle-check text-green-500"></i> On-Page SEO Optimization
                </li>
                <li>
                    <i class="fa-solid fa-circle-check text-green-500"></i> Keyword Research & Strategy
                </li>
                <li>
                    <i class="fa-solid fa-circle-check text-green-500"></i> Link Building
                </li>
                <li>
                    <i class="fa-solid fa-circle-check text-green-500"></i> Technical SEO Audits
                </li>
            </ul>
            <a href="{% url 'get_free_consultation' %}"
               class="text-green-500 hover:underline font-inter">📢 Book a free SEO consultation with me &rarr;</a>
        </div>
    </div>
</div>
{% endblock %}
