{% extends "_base.html" %}
{% block title %}Terms of Service{% endblock %}
{% block content %}
    <div class="text-white mt-16 mb-12 sm:mt-14">
        <h1 class="font-montserrat text-2xl font-bold mb-6">Terms of Service</h1>
        <p class="text-sm mb-6">Last Updated: Sun 08 Sep 2024</p>
        <p class="mb-6">
            Welcome to TechRahis's Terms of Service. These terms outline the rules and regulations for the use of my website and services. By accessing this website, you accept and agree to comply with the terms described below.
        </p>
        <div class="space-y-8">
            <!-- Section 1 -->
            <div>
                <h2 class="text-2xl font-semibold mb-2">1. User Responsibilities</h2>
                <p>
                    As a user of TechRahis, you are expected to comply with all local laws and refrain from engaging in harmful activities such as hacking, distributing malware, or engaging in fraudulent activity. You are responsible for maintaining the confidentiality of your login credentials and for any activity that occurs under your account.
                </p>
            </div>
            <!-- Section 2 -->
            <div>
                <h2 class="text-2xl font-semibold mb-2">2. Intellectual Property</h2>
                <p>
                    Unless stated otherwise, TechRahis and/or its licensors own the intellectual property rights for all content on this website. You may access this content for personal use but may not copy, redistribute, or use the material without permission.
                </p>
            </div>
            <!-- Section 3 -->
            <div>
                <h2 class="text-2xl font-semibold mb-2">3. Limitation of Liability</h2>
                <p>
                    I strive to ensure that the information provided on TechRahis is accurate, but I do not guarantee the completeness or reliability of the content. Under no circumstances will TechRahis be held liable for any damages resulting from the use or inability to use this website.
                </p>
            </div>
            <!-- Section 4 -->
            <div>
                <h2 class="text-2xl font-semibold mb-2">4. Service Modifications</h2>
                <p>
                    TechRahis reserves the right to modify or discontinue any part of the service without prior notice. I am not liable for any impact caused by such modifications or discontinuation.
                </p>
            </div>
            <!-- Section 5 -->
            <div>
                <h2 class="text-2xl font-semibold mb-2">5. Termination of Use</h2>
                <p>
                    I reserve the right to terminate your access to the website and its services if you violate these terms and conditions. Violations may also result in legal consequences.
                </p>
            </div>
            <!-- Section 6 -->
            <div>
                <h2 class="text-2xl font-semibold mb-2">6. Third-Party Links</h2>
                <p>
                    This website may contain links to third-party websites. I have no control over the content or practices of these websites and encourage you to review their terms and policies before engaging with them.
                </p>
            </div>
            <!-- Section 7 -->
            <div>
                <h2 class="text-2xl font-semibold mb-2">7. Changes to These Terms</h2>
                <p>
                    I may revise these Terms and Conditions at any time without prior notice. Any changes will be posted on this page, and the date of the latest revision will be noted at the top of the page.
                </p>
            </div>
            <!-- Section 8 -->
            <div>
                <h2 class="text-2xl font-semibold mb-2">8. Contact Me</h2>
                <p>
                    If you have questions or concerns regarding these terms, feel free to reach out to me through <a href="{% url 'contact' %}" class="text-violet-500 hover:underline">contact page.</a>.
                </p>
            </div>
            <p class="mt-6 text-gray-300">
                By using TechRahis, you agree to these Terms and Conditions. If you do not agree, please refrain from using my services.
            </p>
        </div>
    </div>
{% endblock %}
