{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}{% endblock %}
    - TechRahis</title>
    <meta name="description"
          content="{% block meta_description %}TechRahis.com is a personal website of Rajarshi Samaddar.{% endblock %}" />
    <link rel="shortcut icon"
          href="{% static 'image/favicon.png' %}"
          type="image/x-icon">
    {% compress css %}
      <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    {% endcompress %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="icon" href="{% static 'im  ages/favicon.ico' %}" />
  </head>
  <body class="bg-gray-950">
    {% include "components/navbar.html" %}
    <div class="mx-auto max-w-4xl flex flex-col min-h-[90vh]">
      <main class="flex-grow mt-[10vh] px-4 sm:px-0 font-opensans">
        {% block content %}{% endblock %}
      </main>
    </div>
    {% include "components/footer.html" %}
  </body>
</html>
