<footer class="w-full mt-10 font-inter text-white text-sm text-opacity-70 bg-background text-primary py-4 border-t border-gray-800">
    <ul class="flex sm:flex space-x-4 font-inter font-semibold text-gray-400 justify-center mt-2 mb-4">
        <li>
            <a href="{% url 'privacy_policy' %}">Privacy policy</a>
        </li>
        <li>
            <a href="{% url 'terms_of_service' %}">Terms of Service</a>
        </li>
        <li>
            <a href="{% url 'colophon' %}">FAQs</a>
        </li>
        <li>
            <a href="{% url 'colophon' %}">Colophon</a>
        </li>
    </ul>
    <p class="text-center">
        © <span id="current-year"></span> <a href="{% url 'home' %}" class="text-violet-600 font-semibold">techrahis.com</a>. Crafted with ❤️ by <a href="https://github.com/techrahis"
    target="_blank"
    class="text-violet-600 font-semibold">TechRahis</a>.
    </p>
    <p class="text-center mt-2 flex flex-row justify-center text-sky-600 font-bold items-center gap-2">
        <span class="flex items-center gap-2">
            <i class="fa-solid fa-circle text-[0.4rem] animate-ping-status"></i> 265 visitors in last 7 days
        </span>
        <span class="text-white ml-2 text-opacity-70 flex items-center gap-1">
            <i class="fa-regular fa-clock text-[0.7rem] animate-spin-clock"></i>
            <span id="current-time"></span> IST
        </span>
    </p>
</footer>
<script>
    // Function to format the time in HH:mm format
    function formatTime(date) {
        let hours = date.getHours().toString().padStart(2, '0');
        let minutes = date.getMinutes().toString().padStart(2, '0');
        return `${hours}:${minutes}`;
    }

    // Function to get the current time in IST
    function updateTime() {
        const now = new Date();
        const options = { timeZone: 'Asia/Kolkata', year: 'numeric', hour: '2-digit', minute: '2-digit' };
        const formatter = new Intl.DateTimeFormat([], options);
        const [year, time] = formatter.formatToParts(now).reduce((acc, part) => {
            if (part.type === 'year') acc[0] = part.value;
            if (part.type === 'hour' || part.type === 'minute') acc[1] += part.value;
            return acc;
        }, ['', '']);
        
        document.getElementById('current-year').textContent = year;
        document.getElementById('current-time').textContent = formatTime(now);
    }

    // Initial call and setting interval to update the time every minute
    updateTime();
    setInterval(updateTime, 60000); // Update every 60 seconds
</script>
