<footer class="w-full mt-10 font-inter text-white text-sm text-opacity-70 bg-background text-primary py-4 border-t border-gray-800">
    <ul class="flex sm:flex space-x-4 font-inter font-semibold text-gray-400 justify-center mt-2 mb-4">
        <li>
            <a href="{% url 'contact' %}" aria-label="Contact Us">Contact</a>
        </li>
        <li>
            <a href="{% url 'privacy_policy' %}"
               aria-label="Read our Privacy Policy">Privacy Policy</a>
        </li>
        <li>
            <a href="{% url 'terms_of_service' %}"
               aria-label="View Terms of Service">Terms of Service</a>
        </li>
        <li>
            <a href="{% url 'faq' %}" aria-label="Frequently Asked Questions">FAQs</a>
        </li>
    </ul>
    <p class="text-center">
        © <span id="current-year"></span> <a href="{% url 'home' %}" class="text-violet-600 font-semibold">techrahis.com</a>. Crafted with ❤️ by <a href="https://github.com/techrahis"
    target="_blank"
    class="text-violet-600 font-semibold">TechRahis</a>.
    </p>
    <p class="text-center mt-2 flex flex-row justify-center text-blue-600 font-bold items-center gap-2">
        <span class="flex items-center gap-2">
            <i class="fa-solid fa-circle text-[0.4rem] animate-ping-status"></i> Support available at
        </span>
        <a class="text-violet-500" href="tel:+918900424458">+91 89004 24458</a>
    </p>
</footer>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const now = new Date();
        const options = { timeZone: 'Asia/Kolkata', year: 'numeric' };
        const formatter = new Intl.DateTimeFormat([], options);
        const year = formatter.formatToParts(now).find(part => part.type === 'year').value;
        
        document.getElementById('current-year').textContent = year;
    });
</script>
