<ul class="flex space-x-4 font-inter font-semibold text-gray-400">
    <li id="about-tab">
        <a href="{% url 'about' %}">About</a>
    </li>
    <li id="projects-tab">
        <a href="{% url 'blog_list' %}">Blogs</a>
    </li>
    <li id="projects-tab">
        <a href="{% url 'portfolios' %}">Portfolios</a>
    </li>
    <li id="contact-tab">
        <a href="{% url 'contact' %}">Services</a>
    </li>
</ul>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const currentUrl = window.location.pathname;
        const tabs = document.querySelectorAll('ul li a');
    
        tabs.forEach(tab => {
            if (tab.getAttribute('href') === currentUrl) {
                tab.classList.add('text-white');
            } else {
                tab.classList.remove('text-white');
            }
        });
    });
</script>
