<ul class="flex space-x-4 font-inter font-semibold text-gray-400">
    <li id="about-tab">
        <a href="{% url 'about' %}">About</a>
    </li>
    <li id="projects-tab">
        <a href="{% url 'blogs' %}">Blogs</a>
    </li>
    <li id="projects-tab">
        <a href="{% url 'portfolios' %}">Portfolios</a>
    </li>
    <li id="contact-tab">
        <a href="{% url 'contact' %}">Contact</a>
    </li>
</ul>
<div class="mt-4">
    <a href="{% url 'hire_me' %}">
        <button class="bg-pink-600 hover:bg-pink-500 transition-all duration-300 shadow-lg hover:shadow-xl text-white font-bold py-2 px-4 sm:py-3 sm:px-6 rounded font-montserrat">
            Get Free 1:1 Consultation
        </button>
    </a>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const currentUrl = window.location.pathname;
        const tabs = document.querySelectorAll('ul li a');
    
        tabs.forEach(tab => {
            if (tab.getAttribute('href') === currentUrl) {
                tab.classList.add('text-white');
            } else {
                tab.classList.remove('text-white');
            }
        });
    });
</script>
