<nav class="gradient-border-bottom fixed-navbar border-gray-600 text-slate-100 bg-gray-950 px-4 sm:px-0">
    <div>
        <div class="max-w-4xl mx-auto mt-4 sm:mt-0 h-[6vh] sm:h-[10vh] flex justify-between items-center">
            <div class="font-press-start text-md">
                <a href="{% url 'home' %}">
                    <p>
                        <span class="text-violet-500">Tech</span>Rahis<span class="text-violet-500">.com</span>
                    </p>
                </a>
            </div>
            <div class="hidden sm:block">{% include "./header_list.html" %}</div>
            <a href="{% url 'hire_me' %}">
                <button class="bg-violet-500 hover:bg-purple-600 border-2 border-white border-opacity-20 shadow-lg text-gray-950 font-bold py-1 px-2 sm:py-2 sm:px-4 rounded font-montserrat">
                    Hire Me
                </button>
            </a>
        </div>
        <div class="block sm:hidden mt-3 mb-2">{% include "./header_list.html" %}</div>
    </div>
</nav>
