<li>
    <a href="https://x.com/techrahis/"
       target="_blank"
       class="text-white hover:text-gray-200 text-3xl">
        <i class="fa-brands fa-x-twitter"></i>
    </a>
</li>
<li>
    <a href="https://www.linkedin.com/in/techrahis/"
       target="_blank"
       class="text-white hover:text-gray-200 text-3xl">
        <i class="fa-brands fa-linkedin-in"></i>
    </a>
</li>
<li>
    <a href="https://github.com/techrahis"
       target="_blank"
       class="text-white hover:text-gray-200 text-3xl">
        <i class="fa-brands fa-github"></i>
    </a>
</li>
<li>
    <a href="https://www.youtube.com/@techrahis"
       target="_blank"
       class="text-white hover:text-gray-200 text-3xl">
        <i class="fa-brands fa-youtube"></i>
    </a>
</li>
<li>
    <a href="https://instagram.com/techrahis/"
       target="_blank"
       class="text-white hover:text-gray-200 text-3xl">
        <i class="fa-brands fa-instagram"></i>
    </a>
</li>
<li>
    <a href="mailto:techrahis@outlook.com"
       target="_blank"
       class="text-white hover:text-gray-200 text-3xl">
        <i class="fa-solid fa-envelope"></i>
    </a>
</li>
